@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .btn {
        bottom: 15px;
        font-size: 20px;
        border-radius: 50px;
        height:27px;
        font-size: 15px;
    }

  
</style>


<div class="row">
    <div class="col-md-12">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h3 style="color:black; text-align:center;">Buradan kayıt olabilirsiniz.</h3>
            <hr />
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Kullanıcı Adı" />
                <label asp-for="Input.UserName"></label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" aria-required="true" placeholder="Ad Soyad" />
                <label asp-for="Input.FullName"></label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="birisi@example.com" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                
                <select asp-for="Input.Gender" class="form-control">
                    <option value="" disabled selected hidden>Cinsiyet</option>
                    <option value="Kadın">Kadın</option>
                    <option value="Erkek">Erkek</option>
                </select>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>


            <div class="form-floating mb-3">
                <input type="date" asp-for="Input.DateOfBirth" class="form-control" autocomplete="fullname" aria-required="true" placeholder="Doğum Tarihi" />
                <label asp-for="Input.DateOfBirth"></label>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Parola" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Parola" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

          
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-dark">Kaydol</button>
        </form>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
