@model MyBlog.Models.ChangePasswordViewModel


<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--Css -->
<link rel="stylesheet" href="~/css/site.css" />

<style>
.genel {
    background-color: rgba(211, 211, 211, 0.7);
    border-radius: 60px;
}

.genel .ayar h2 {
    color: white;
    text-align: center;
}

.form-group {
    margin: 20px;
}

.ayar {
    margin: 20px;
}



.bold-label {
    font-weight: bold;
}
.text-center{
    display: flex;
    justify-content: center;
    align-items:center;
       
}
.btn-margin{
        margin: 20px;
}
</style>
<div class="genel">
    <div class="ayar">
<h2>Parola Değiştir</h2>

<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label asp-for="CurrentPassword" class="bold-label">Mevcut Parola</label>
        <div class="input-group">
            <input asp-for="CurrentPassword" class="form-control" type="password" id="current-password" />
            <div class="input-group-append">
                <span class="input-group-text" onclick="togglePassword('current-password', this)">
                    <i class="fa fa-eye"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="bold-label">Yeni Parola</label>
        <div class="input-group">
            <input asp-for="NewPassword" class="form-control" type="password" id="new-password" />
            <div class="input-group-append">
                <span class="input-group-text" onclick="togglePassword('new-password', this)">
                    <i class="fa fa-eye"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="bold-label">Yeni Parola</label>
        <div class="input-group">
            <input asp-for="ConfirmPassword" class="form-control" type="password" id="confirm-password" />
            <div class="input-group-append">
                <span class="input-group-text" onclick="togglePassword('confirm-password', this)">
                    <i class="fa fa-eye"></i>
                </span>
            </div>
        </div>
    </div>
    
    <div class="text-center">
            <button type="submit" class="btn btn-primary btn-margin">Parolayı Değiştir</button>
                <a asp-action="Edit" class="btn btn-secondary btn-margin">Geri Dön</a>
    </div>
           
</form>

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function togglePassword(inputId, element) {
            var passwordInput = document.getElementById(inputId);
            var icon = element.querySelector('i');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        }
    </script>
}

