@model IEnumerable<MyBlog.Models.BlogPost>

@{
    ViewData["Title"] = "Kendi Blog Yazılarım";
}

<link rel="stylesheet" href="~/css/AdminIndexStyle.css" />

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Css -->
<!--datatables css-->
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.jqueryui.min.css" />

<style>
    .box{
        min-height: 320px;
        padding: 20px;
        margin-top: 40px;
        margin-bottom: 40px;

    }

    .h2 {
        color:black;
    }

    .table thead th{
        background-color: #007bff; 
        color: white; 
    }

    
    .table tbody tr:nth-child(odd) {
        background-color: white;
    }

    .table tbody tr:nth-child(even) {
        background-color: lightgray;
    }

    .dataTables_wrapper .dataTables_filter input {
        background-color: #f0f0f0;
    }

    .dt-container {
        background-color: white;
    }

    
</style>

<div class="box">
<h1>Kendi Blog Yazılarım</h1>

<table id="postTable" class="table">
    <thead>
        <th>
        </th>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
@section Scripts {
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.jqueryui.min.js"></script>

    <script >

        $(document).ready(function () {
            LoadPosts();
        });

        function LoadPosts() {
            $('#postTable').DataTable({
                "processing": true,
                "serverSide": true,
                responsive: true,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json"
                },
                "ajax": {
                    "url": "/BlogPost/LoadPosts?isMode=true",
                    "type": "POST",
                    "datatype": "json",
                   
                },
                "columns": [
                    { "data": "title", "name": "Title", "title": "Başlık" },
                    { "data": "author", "name": "Author", "title": "Yazar" },
                    { "data": "createdAt", "name": "CreatedAt", "title": "Oluşturma Tarihi" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `<a href="/BlogPost/EditBlogPost?id=${data}" class="btn btn-sm btn-primary">Edit</a> |
                                <a href="/BlogPost/DeleteBlogPost?id=${data}" class="btn btn-sm btn-danger">Delete</a>`;
                        },
                        "orderable": false,
                        "title": "Aksiyon"
                    }
                ]
            });
        }
    </script>
}
