@model MyBlog.Models.EditComment

<form id="editCommentForm" asp-action="EditCommentDetails" asp-controller="BlogComments" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="CommentId" value="@Model.CommentId" />
    <div class="form-group">
        <label for="editCommentText">Yorum</label>
        <textarea class="form-control" id="editCommentText" name="Text" rows="3">@Model.Text</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
