@model MyBlog.Models.EditComment

@{
    ViewData["Title"] = "Edit Comment";
}
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    .box {
        min-height: 320px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
        border-radius: 60px;
        padding: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    h2{
        text-align:center;
        color:black;
    }

    .form-group {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    
</style>

<div class="box">
<h2>Bu Yorumu Düzenle</h2>

<form asp-action="EditComment" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="hidden"  asp-for="CommentId"/>

    <div class="form-group">
        <input asp-for="Text" class="form-control" />
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Düzenle" class="btn btn-primary" />
        <a asp-action="MyComments" class="btn btn-secondary">Yorumlarıma Geri Dön</a>
            
    </div>
</form>


</div>