@model MyBlog.Models.CustomUser

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Css -->
<link rel="stylesheet" href="~/css/site.css" />

<h2>Kullanıcıyı Sil</h2>

<h3>Kullanıcıyı silmek istediğinizden emin misiniz?</h3>

<div>
    <h4>@Model.UserName</h4>
    <p>@Model.Email</p>
</div>

<form asp-action="DeleteUserConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal Et</a>
</form>