<!--ADMİN INDEX-->


<link rel="stylesheet" href="~/css/AdminIndexStyle.css" />

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Css -->
<link rel="stylesheet" href="~/css/site.css" />
<!--datatables css-->
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.jqueryui.min.css" />

<style>
    .table tbody tr:nth-child(odd){
        background-color:white;
    }

    .table tbody tr:nth-child(even) {
        background-color: lightgray;
    }

    .dataTables_wrapper .dataTables_filter input {
        background-color: #f0f0f0;
    }

    .dt-container{
        background-color: white ;
    }
</style>

<h1>Kullanıcıları Yönet</h1>



<table id="userTable" class="table">
    <thead>
        <tr style="background-color:cornflowerblue;">

        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>


<h1>İçerikleri Yönet</h1>


<table id="postTable" class="table">
    <thead>
        <tr style="background-color:cornflowerblue">

        </tr>
    </thead>
    <tbody>
      
    </tbody>
</table>
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@

@section Scripts {
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.jqueryui.min.js"></script>

    <script>
        $(document).ready(function () {
            LoadUsers();
            LoadPosts();
            
        
        });
        function LoadUsers() {
            $('#userTable').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json"
                },
                "ajax": {
                    "url": "/Admin/LoadUsers",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "userName", "name": "UserName","title":"Kullanıcı Adı" },
                    { "data": "email", "name": "Email", "title": "E-mail" },
                    { "data": "roles", "name": "Roles", "title": "Rol" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `<a href="/Admin/EditUser?userId=${data}">Edit</a> |
                                                <a href="/Admin/DeleteUser?userId=${data}">Delete</a>`;
                        },
                        "orderable": false,
                        "title": "Aksiyon"
                    }
                ]
            });
        }
        function LoadPosts() {
            $('#postTable').DataTable({
                "processing": true,
                "serverSide": true,
                responsive: true,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/2.0.8/i18n/tr.json"
                },
                "ajax": {
                    "url": "/Admin/LoadPosts",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "title", "name": "Title", "title": "Başlık" },
                    { "data": "author", "name": "Author", "title": "Yazar" },
                    { "data": "createdAt", "name": "CreatedAt", "title": "Oluşturma Tarihi" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `<a href="/Admin/EditPost?id=${data}">Edit</a> |
                                            <a href="/Admin/DeletePost?id=${data}">Delete</a>`;
                        },
                        "orderable": false,
                        "title":"Aksiyon"
                    }
                ]
            });

        }

    </script>
}

